- var ishtml = `${html}`
doctype=html
html
	head
		title Wallgrow
		link(rel="stylesheet", href=`${css}`)
	body
		#root
			if ishtml
				obj(data=`${html}`)
		script(src=`${js}`, type="text/javascript")